.inscription {
    width: 100%;
    height: 720px;
    padding: 50px;
    background-image: linear-gradient(135deg, #240b36, #c31432);

        
    &__container {
        background-color: rgba(255, 255, 255, 0.664);
        border-radius: 50px;
        width: 100%;
        margin: 0 auto;
        max-width: 640px;
        height: 620px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 40px;
        text-align: center;
        align-items: center;

        &__title {
            font-size: 48px;
            color: #ff3cac;
        }

        &__label {
            font-size: 18px;
            margin: 32px 0 14px;
            color: #fff;
        }

        &__input {
            width: 420px;
            padding: 12px;
            color: black;
            border: none;
            border-radius: 10px;
        }

        &__button {
            margin-top: 58px;
            font-size: 18px;
            background-color: #ff3cac;
            color: #000;

            &:hover {
                background-image: linear-gradient(135deg,#00ffe1b2, #ff3cac);
            }
        }
    }

    @media(max-width: 640px) {
        height: 630px;
        padding: 40px;

        &__container {
            height: 530px;
            width: 100%;
            border-radius: 25px;
        }

        &__content{
            padding: 22px;

            &__title {
                font-size: 24px;
                color: black;
            }

            &__label {
                font-size: 18px;
                margin: 32px 0 14px;
            }

            &__input {
                width: 100%;
                border: none;
                border-radius: 10px;
            }

            &__button {
                margin-top: 28px;
                font-size: 18px;
            }
        }    
    }
}