@use "hero";
@use "components/buttons";
@use "about";
@use "location";
@use "inscription";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron, sans-serif;
    text-decoration: none;
    letter-spacing: 1;
}

.footer {
    background-color: #0f0c29;
    color: #ccc;
    padding: 28px;
    text-align: center;
    font-size: 14px;

    &__text {
        margin-bottom: 12px;
        color: #aaaaaa;
    }

    &__icons {
        i {
            font-size: 18px;
            color: #ff3cac;

            &:hover {
                color: #b9317e;
            }
        }
    }
}


