@use "hero";
@use "components/buttons";
@use "about";
@use "location";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Orbitron, sans-serif;
    text-decoration: none;
    letter-spacing: 1;
}
